.home-header {
  display: flex;
  align-items: center;
}

.home-footer {
  height: 64px;
  text-align: center;
}

.loading {
  height: calc(100vh - 128px);
  padding-top: 20%;
}

.logo {
  margin: 5vw;
}

.aside {
  position: absolute;
  left: 100px;
  top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.personal-info {
  text-align: center;
}

.aside .blog-info__label {
  transform: scale(1.5);
  padding: 0 20px;
  border-radius: 0;
}

.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

.blog-list {
  width: 1200px;
  min-height: 80vh;
  padding: 20px;
  background-color: #fff;
}

.blog-item:not(:last-child) {
  margin-bottom: 20px;
}

.blog-detail {
  padding: 20px 0;
}

.blog-title {
  position: relative;
  font-size: 24px;
  line-height: 2;
  display: inline-block;
}

.home-page .blog-title:hover {
  color: hotpink;
  text-decoration: underline;
  cursor: pointer;
}

.blog-body {
  padding: 10px;
}

.blog-info {
  height: 40px;
  line-height: 40px;
}

.blog-info__time {
  color: #666;
  margin-right: 10px;
}

.blog-info__label {
  display: inline-block;
  position: relative;
  padding: 0 8px;
  margin: 0 5px;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #000 !important;
}

.blog-info__label:before,
.blog-info__label:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: "";
  position: absolute;
  width: 12px;
}
.blog-info__label:before {
  border-top: 2px solid #40a9ff;
  left: 0px;
  top: -5px;
}
.blog-info__label:after {
  border-bottom: 2px solid #40a9ff;
  bottom: -5px;
  right: 0px;
}
.blog-info__label:hover:before,
.blog-info__label:hover:after {
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .aside {
    display: none;
  }

  .content-wrap {
    padding: 0;
  }
}
